<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceSystemName" value="SkyhoshiRCSerivce"/>
    <add key="ServiceName" value="Skyhoshi Control System Service" />
    <add key="ServiceDescription" value="Service to manage remote computer operations."/>
    <add key="ServiceUsername" value="SKY-M2/SkyhoshiRCService" />
    <add key="ServicePassword" value="EAAAADCMJXrg3X0aE3Le9ItdL62fgH0DdLmuUG/3ujTd/0C/nRNFOLYgsVCDwrG4pKZTAw==" />
    <add key="ServicePasswordSalt" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>